--find-links https://data.pyg.org/whl/torch-2.4.0+cpu.html

numpy
torch==2.4.0
torch_geometric
pandas>=2.0
gensim
karateclub
networkx
faiss-cpu
scikit-learn
matplotlib
python-igraph
leidenalg
typing_extensions
filelock
